<section class="d-flex flex-column align-items-center justify-content-center ">
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong>Add Coupon</strong>

        </div>
        <div class="card-body card-block">

            <form action="/admin/coupon" method="post" class="form-horizontal">

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Coupon Name</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="CouponName" name="CouponName" placeholder=""
                            class="form-control" required></div>
                </div>
                 <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Value</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="number" id="value" name="Value" placeholder=""
                            class="form-control" required></div>
                </div> 
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Expiry date</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="date" id="expiry" name="Expiry_Date" placeholder=""
                            class="form-control" required></div>
                </div>
                <button type="submit" class="btn btn-primary ">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Coupon</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Coupon Code</th>
                        <th scope="col">Value</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each coupons}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{this.CouponName}}</td>
                        <td>{{this.Value}}</td>
                         <td>{{this.Expiry_Date}}</td>
                        <td><button class="btn btn-danger" onclick="deleteCoupon('{{this._id}}')">Delete</button></td> 
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>


<script>
    function deleteCoupon(coupId){
        $.ajax({
            url:'/admin/delete-coupon/'+coupId,
            method:'get',
            success:(response)=>{
                if(response.status){
                alert('Coupon deleted')
                location.reload()
                }
            }
        })
    }
</script>