<body>
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Users List</strong>
                        </div>
                        <div class="card-body">
                            <table class="table" id="userTable">
                                <thead>

                                    <tr>
                                        <th scope="col"> No</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Action</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    {{#each showUser}}
                                    <tr>
                                        <th scope="row">{{inc @index}}</th>
                                        <td>{{this.Name}}</td>
                                        <td>{{this.Email}}</td>
                                        <td>{{this.Phone}}</td>

                                        <td>
                                            {{#if this.Active}}
                                            <a href="/admin/block-user/{{this._id}}" class="btn btn-danger"
                                                onclick="return confirm('Do you want to block {{this.Name}}')">Block</a>
                                            {{else}}

                                            <a href="/admin/unblock-user/{{this._id}}" class="btn btn-warning"
                                                onclick="return confirm('Do you want to Unblock {{this.Name}}')">Unblock</a>
                                            {{/if}}
                                        </td>

                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
</body>

{{!-- Fn for dataTable --}}
<script>

      $(document).ready(function () {
        $('#userTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>