<!--================Checkout Area =================-->
<section class="checkout_area section_gap" style="margin-top: 5rem ;">
    <div class="container">
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon? </h2>
            </div>
            <input type="text" placeholder="Enter coupon code" id="coupon">
            <button class="tp_btn" onclick="applyCoupon()">Apply Coupon</button>
        </div>


        <div class="billing_details">
            <form class="row contact_form" action="" method="" id="checkout-form">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Shipping Address</h3>

                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="AddrName" name="Name" placeholder="Name"
                                value="" onkeyup="validateName()">
                            <span id="AddrName-error" class="text-danger font-weight-bold"></span>

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="number" class="form-control" id="AddrPhone" name="Phone"
                                placeholder="Phone Number" onkeyup="validatePhone()">
                            <span id="AddrPhone-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="AddrBuidlingName" name="Buidling_Name"
                                placeholder="Buidling Name" onkeyup="validateBuidling_Name()">
                            <span id="AddrBuidlingName-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="AddrStreetName" name="Street_Name"
                                placeholder="Street Name" onkeyup="validateStreet_Name()">
                            <span id="AddrStreetName-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="AddrCity" name="City" placeholder="City"
                                onkeyup="validatCity()">
                            <span id="AddrCity-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="AddrDistrict" name="District"
                                placeholder="District" onkeyup="validateDistrict()">
                            <span id="AddrDistrict-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="AddrState" name="State" placeholder="State"
                                onkeyup="validateState()">
                            <span id="AddrState-error" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="number" class="form-control" id="AddrPincode" name="Pincode"
                                placeholder="Pincode" onkeyup="validatePincode()">
                            <span id="AddrPincode-error" class="text-danger font-weight-bold"></span>
                        </div>

                        <input type="text" name="userId" id="hiddenUserId" value="{{userDetails._id}}" hidden>

                        <input type="text" name="discount" id="offer" value="0" hidden>
                        <input type="text" name="grandTotal" id="finalprice" value="{{Total.total}}" hidden>

                    </div>

                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2 id="">Your Order</h2>

                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                {{#each products}}
                                <li><a href="#">{{this.product.Bname}} <span class="middle">x {{this.quantity}}</span>
                                        <span class="last">{{this.proTotal}}</span></a></li>
                                {{/each}}
                            </ul>

                            <ul class="list list_2">
                                {{!-- <li><a href="#">Subtotal <span>$2160.00</span></a></li>
                                <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li> --}}
                                <li><a href="#">Sub-Total <span id="subTotal">{{Total.total}}</span></a></li>
                                <li><a href="#">Discount <span id="discount"></span></a></li>
                                <li><a href="#">Grand Total <span id="grandTotal">{{Total.total}}</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="Payment_method" value="COD">
                                    <label for="f-option5">Cash On Delivery</label>
                                    <div class="check"></div>
                                </div>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="Payment_method" value="ONLINE">
                                    <label for="f-option6">Razorpay </label>
                                    <img src="/user/img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>

                            </div>

                            <button class="primary-btn" type="submit" onclick="return validateForm()">Confirm </button>
                            <span id="submit-error" class="text-danger font-weight-bold"></span>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="row">
            {{#each userData.Addresses}}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{this.Phone}}</p>
                        <p class="card-text">
                            {{this.Building_Name}},{{this.Street_Name}}<br>{{this.City}},{{this.Pincode}}</p>
                        <button onclick="showAddress('{{../userData._id}}','{{this._addId}}')"
                            class="card-link btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


</section>
<!--================End Checkout Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        perfumes Duty free shop is a perfume retailer with 6 stores all over India, selling all
                        majot designer perfume brands,classic perfumes and celebrity perfumes,with unbeatable
                        experience at wholesale prices
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>Stay update with our latest</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" name="EMAIL" placeholder="Enter Email"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                    required="" type="email">


                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Feed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="img/i1.jpg" alt=""></li>
                        <li><img src="img/i2.jpg" alt=""></li>
                        <li><img src="img/i3.jpg" alt=""></li>
                        <li><img src="img/i4.jpg" alt=""></li>
                        <li><img src="img/i5.jpg" alt=""></li>
                        <li><img src="img/i6.jpg" alt=""></li>
                        <li><img src="img/i7.jpg" alt=""></li>
                        <li><img src="img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Follow Us</h6>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!-- End footer Area -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>

    function showAddress(userId, addId) {
        $.ajax({
            url: '/get-edit-address',
            data: {
                userId: userId,
                addressId: addId
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                if (response) {
                    document.getElementById('AddrName').value = response.Addresses.Name;
                    document.getElementById('AddrPhone').value = response.Addresses.Phone;
                    document.getElementById('AddrBuidlingName').value = response.Addresses.Building_Name;
                    document.getElementById('AddrStreetName').value = response.Addresses.Street_Name;
                    document.getElementById('AddrCity').value = response.Addresses.City;
                    document.getElementById('AddrDistrict').value = response.Addresses.District;
                    document.getElementById('AddrState').value = response.Addresses.State;
                    document.getElementById('AddrPincode').value = response.Addresses.Pincode;

                } else {
                    alert("No response")
                }
            }

        })
    }

    $('#checkout-form').submit((e) => {
        console.log("Submission check")
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    alert('Order Confirmed')
                    location.replace('/order-success')
                } else {
                    razorpayPayment(response)
                }


            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_nWmX6t3uTvbaiW",
            "amount": order.amount,
            "currency": "INR",
            "name": "Nihal",
            "description": "Have a nice day",
            "image": "https://example.com/your_logo.jpg",
            "order_id": order.id,
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Nihal Muhammed",
                "email": "nihal@gmail.com",
                "contact": "7089562341"
            },
            "notes": {
                "address": "Pristine Perfumerie	 Corporate Office"
            },
            "theme": {
                "color": "#000000"
            }
        };
        var rzpl = new Razorpay(options)
        rzpl.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {
                    alert("payment failed")
                }
            }
        })
    }

    function applyCoupon() {
        var userId = document.getElementById('hiddenUserId').value
        var coupon = document.getElementById('coupon').value
        var subTotal = document.getElementById('subTotal').innerHTML
        $.ajax({
            url: '/apply-coupon',
            data: {
                couponName: coupon,
                userId: userId
            },
            method: 'post',
            success: (response) => {
                if (response.expired) {
                    alert("Sorry coupon have expired")
                } else if (response.notAvailable) {
                    alert("Invalid coupon")
                } else if (response.used) {
                    alert("Coupon already used")
                } else {
                    var discount = response.Value
                    var grandTotal = subTotal - discount
                    document.getElementById('discount').innerHTML = discount
                    document.getElementById('grandTotal').innerHTML = grandTotal
                    document.getElementById('offer').value = discount
                    document.getElementById('finalprice').value = grandTotal
                }
            }
        })

    }

    var nameError = document.getElementById('AddrName-error');
    var phoneError = document.getElementById('AddrPhone-error');
    var buildingError = document.getElementById('AddrBuidlingName-error');
    var streetError = document.getElementById('AddrStreetName-error');
    var cityError = document.getElementById('AddrCity-error');
    var districtError = document.getElementById('AddrDistrict-error');
    var stateError = document.getElementById('AddrState-error');
    var pinError = document.getElementById('AddrPincode-error');
    var submitError = document.getElementById('submit-error');

    function validateName() {
        var name = document.getElementById('AddrName').value;

        if (name.length == 0) {
            nameError.innerHTML = '**Name is required';
            return false
        }
        if (!name.match(/^[A-Za-z]*\s{1}[A-Za-z]*$/)) {
            nameError.innerHTML = '**write full name';
            return false;
        }
        if ((name.length <= 2) || (name.length > 25)) {
            nameError.innerHTML = '**Name length must be between 3 and 25';
            return false
        }
        nameError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validatePhone() {
        var phone = document.getElementById('AddrPhone').value;

        if (phone.length == 0) {
            phoneError.innerHTML = '**mobile number is required';
            return false
        }
        if (phone.length != 10) {
            phoneError.innerHTML = '**mobile number should be 10 digits';
            return false
        }
        if (!phone.match(/^[0-9]{10}$/)) {
            phoneError.innerHTML = '**Only digits please';
            return false
        }
        phoneError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validateBuidling_Name() {
        var building = document.getElementById('AddrBuidlingName').value;

        if (building.length == 0) {
            buildingError.innerHTML = '**Building name is required';
            return false
        }
        if (!building.match(/^[A-Za-z]*$/)) {
            buildingError.innerHTML = '**Only alphabets';
            return false;
        }
        if ((building.length <= 2) || (building.length > 25)) {
            buildingError.innerHTML = '**Building name length must be between 3 and 25';
            return false
        }
        buildingError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validateStreet_Name() {
        var street = document.getElementById('AddrStreetName').value;

        if (street.length == 0) {
            streetError.innerHTML = '**street name is required';
            return false
        }
        if (!street.match(/^[A-Za-z]*$/)) {
            streetError.innerHTML = '**Only alphabets';
            return false;
        }
        if ((street.length <= 2) || (street.length > 25)) {
            streetError.innerHTML = '**street name length must be between 3 and 25';
            return false
        }
        streetError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validatCity() {
        var city = document.getElementById('AddrCity').value;

        if (city.length == 0) {
            cityError.innerHTML = '**city name is required';
            return false
        }
        if (!city.match(/^[A-Za-z]*$/)) {
            cityError.innerHTML = '**Only alphabets';
            return false;
        }
        if ((city.length <= 2) || (city.length > 25)) {
            cityError.innerHTML = '**city name length must be between 3 and 25';
            return false
        }
        cityError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validateDistrict() {
        var district = document.getElementById('AddrDistrict').value;

        if (district.length == 0) {
            districtError.innerHTML = '**district name is required';
            return false
        }
        if (!district.match(/^[A-Za-z]*$/)) {
            districtError.innerHTML = '**Only alphabets';
            return false;
        }
        if ((district.length <= 2) || (district.length > 25)) {
            districtError.innerHTML = '**district name length must be between 3 and 25';
            return false
        }
        districtError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validateState() {
        var state = document.getElementById('AddrState').value;

        if (state.length == 0) {
            stateError.innerHTML = '**state name is required';
            return false
        }
        if (!state.match(/^[A-Za-z]*$/)) {
            stateError.innerHTML = '**Only alphabets';
            return false;
        }
        if ((state.length <= 2) || (state.length > 25)) {
            stateError.innerHTML = '**state name length must be between 3 and 25';
            return false
        }
        stateError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validatePincode() {
        var pincode = document.getElementById('AddrPincode').value;

        if (pincode.length == 0) {
            pinError.innerHTML = '**pincode is required';
            return false
        }
        if (pincode.length != 6) {
            pinError.innerHTML = '**pincode  should be 6 digits';
            return false
        }
        if (!pincode.match(/^[0-9]{6}$/)) {
            pinError.innerHTML = '**Only digits please';
            return false
        }
        pinError.innerHTML = '<i class="fa fa-check-circle" aria-hidden="true" style="color:green;"></i>';
        return true
    }

    function validateForm() {
        if (!validateName() || !validatePhone() || !validateBuidling_Name() || !validateStreet_Name() || !validatCity() || !validateDistrict() || !validateState() || !validatePincode()) {
            submitError.style.display = 'block'
            submitError.innerHTML = 'Please fill the form';
            setTimeout(function () { submitError.style.display = 'none' }, 3000)
            return false;
        }
    }
</script>